p
{
    margin: 0;
}
.signup-form
{
    height: 575px;
    width: 450px;
}
.signup-input
{
    width: 300px;
    height: 40px;
    text-align: center;
    margin-top: 45px;
}
.signup-header-text
{
    margin-top: 30px;
    font-size: 30px;
    color: white;
    font-family: karla;
}
.signup-button
{
    width: 250px;
    height: 40px;
    margin-top: 45px;
}
.signup-login-redirect-text
{
    margin-top: 20px;
    color: white;
}
.signup-login-redirect-text:hover
{
    color: #f1c40f;
}
.error-text
{   
    position: relative;
    color: white;
    font-size: 17px;
    height: 0px;
    top:5px
}
/Reset default margin,padding and box-sizing/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Georgia",serif;
    
}

/Styling the body which includes the background and centering/
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:white;
   
}


/Styling the container/
.container{
    width: 420px;
    background-color: #5B89AE;
    border-radius: 10px;
    box-shadow:inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/Hover effect for the container/
.container:hover{
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

/Styling h1 element with the conatiner/
.container h1{
    font-size: 35px;
    text-align:center;
}

/Styling input boxes/
.container .input-box{
    width: 75%;
    height: 70px;
    margin: 30px 0;
    margin-left: 50px;

}

/Styling input fields within the input-box/
.input-box input{
    width: 100%;
    height: 70%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 14px;
    color:#ffff;
    margin: 1px;
    padding: 20px 45px 20px 20px;
}

/Styling input placeholders/
.input-box input::placeholder{
   color: #ffff;
}

/Styling remember section/
.container .remember{
    font-size: 14.5px;
    margin: -5px 2px 20px;
    margin-left: 55px;

}

/Styling remember input checkbox/
.remember input{
   accent-color: #fff;
   margin-right: 3px;

}

/Styling for the button in infos/
.infos .button{
    width: 50%;
    height: 40px;
    background-color: #fff;
    border:none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor:pointer; 
    font-weight: 600;
    border: 2px solid #e7e7e7;
    transition-duration: 0.4s;
    margin-left: 103px;
}
.infos .button:hover{
    background-color:  #b3b3b3;
}

.infos .register{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register p a{
    color:#fff;
    text-decoration: none;
    font-weight: 400;
}

/Styling hover register link in infos/
.register p a:hover{
    text-decoration: underline;
    color:#33ffad;
}

/Styling homepage link in infos/
.infos .htmllink{
    text-align:end;
    margin-right: 7px;
}

.htmllink p a{
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    font-size: 14.5;
}

/Styling hover homepage link in infos/
.htmllink p a:hover{
    color:#33ffad ;
    text-decoration: underline;
}